body{
  margin: 0px;
  padding: 0px;
  background: url(../img/background.jpg);
  background-size: cover; 
  background-color: lightgray;
  background-size: cover;
  font-family: arial;
  overflow-x:hidden;
  }
header{
  background: navy;
  height: 50px;
  margin: 0px;
}

  #left-nav{
    float: left;
  }

ul{
  float: right;
  margin: 0px;
  padding: 0px;
  list-style: none;

}
ul li{
  float: left;
  width: 150px;
  height: 40px;
  background-color: navy;
  opacity: .8;
  line-height: 40px;
  text-align: center;
  font-size: 20px;
}
ul li a{
  text-decoration: none;
  color: white;
  display: block;
}
ul li a:hover{
  background-color: darkorange;
}
ul li ul li{
  display: none;
}
ul li:hover ul li{
  display: block;
}
section{
  height: 200px;
  text-align: center;
  margin-top: 100px;
  color: white;
}
/*.menu{
  ackground-color: white;
  padding: 0 3000px;
  margin: 0 -3000px;
  height: 300px;
  padding: 0px;
}*/

input{
  margin-top: 150px;
  background-color: navy;
  border: 5;
  border-color: darkorange;
  padding: 10px 30px;
  text-align: center;
  color: white;
  font-size: 24px;
  display: inline-block;
  border-radius: 12px;
}
.menu h2{
  color: purple;
}

.menu img{
  height: 220px;
  width: 250px;
}


footer{
  clear: both;
  background: navy;
  text-align: center;
  color: white;
  padding: 0px;
  margin-bottom: 0px;
}