body{
  margin: 0px;
  padding: 0px;
  background-color: #FFFFFF;
  background-size: cover; 
  font-family: sans-serif;
  overflow-x:hidden;
  }
header{
  font-weight: bold;
  background: navy;
  height: 60px;
  margin: 0px;
  margin-bottom: 0px;
}

  #left-nav{
    float: left;
    margin-top: 10px;
  }

  .logo-brand{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 24px;
  }

ul{
  float: right;
  margin: 0px;
  padding: 0px;
  list-style: none;

}
ul li{
  float: left;
  width: 150px;
  height: 40px;
  background-color: navy;
  opacity: .8;
  line-height: 50px;
  text-align: center;
  font-size: 20px;
}
ul li a{
  text-decoration: none;
  color: white;
  display: block;
}
ul li a:hover{
  background-color: darkorange;
}
ul li ul li{
  display: none;
}
ul li:hover ul li{
  display: block;
}
.backimg{
  background: url(../img/head.jpg);
  background-size: cover;
  height: 400px;
}
.content{
  text-align: center;
  color: black;
  text-shadow: 0px 2px 5px red;
  font-size: 25px;
  margin-top: 100px;
  padding: 10px;
  font-weight: bold;
}

input{
  background-color: #336699;
  border: 1px solid darkorange;
  border-radius: 5px;
  padding: 10px 30px;
  text-align: justify;
  text-decoration: capitalize;
  color: white;
  font-size: 25px;
  display: inline-block;
  box-sizing: border-box;
  border-radius: 5px;
  margin-top: 150px;
}
section{
  text-align: center;
}
.menu{
  height: 300px;
  margin-top: 0px;
}
.menu h2{
  color: #336699;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 10px;
}
.menu img{
  height: 180px;
  width: 220px;
}
.menu a{
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  color: white;
  display: block;
  box-sizing: border-box;
  background-color: rgb(51,102,153);
  text-size-adjust: 100%;

}
.summary{
  height:300px;
  margin-top: 0px;
  background-color: rgb(1,50,31);
  padding: 0 3000px;
  margin: 0 -3000px;
  box-sizing: border-box;
}
.column{
  background: rgb(1,50,31);
  display:table-cell;
  padding: 10px;
  width: 50%;
  color: white;
  text-align: center;
  vertical-align: middle;
  border-right: 10px solid rgb(1,50,31);
  border-left: 10px solid rgb(1,50,31);
}

footer{
  clear: both;
  height: 20px;
  background: navy;
  text-align: center;
  color: white;
  padding: 10px;
  margin-bottom: 0px;
}

